.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model;
  -moz-box-sizing: @box-model;
  box-sizing: @box-model;
}

.float-left() {
  float: left;
  clear: right;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.webcam-output {
  //width: 640px - 50px - 10px;
  //height: 360px;
  width: 640 - 50px - 10px;
  height: 360px;
  margin-right: 10px;
  border: 2px solid #ccc;
  .box-sizing(border-box);
}

.preview-area {
  margin-bottom: 10px;
}

.analyser {
  border: 2px solid #ccc;
}

.waiting-message {
  text-align: center;
}

.waiting-box {
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #8CB6FF;
  color: white;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.analyser, .webcam-output {
  .float-left();
}

.record-button {
  margin-top: 10px;
  padding: 10px 5px;
  width: 100%;
  display: block;
}

.hidden {
  display: none;
}

.record-icon {
  color: red;
}

.progress.with-text {
  position: relative;
}

.progress.with-text .bar {
  position: absolute;
  z-index: 1;
}

.progress.with-text span.progress-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: black;
  text-align: center;
  width: 100%;
}